@import "../../global.scss";

.banner {
    background-color: $forestColorFour;
    height:5.5rem;
}

h1{
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'Merienda', cursive;
	color: $forestColorFive;
}