@import "../../global.scss";

.info-box {
	display: list-item;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
} 

.info-box p {
	font-family: 'Merienda', cursive;
	font-size: 2rem;
	color: $forestColorTwo;
	height: 3rem;
} 

.info-box span {
	font-weight: bold;
} 