@import "../../global.scss";

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
}

.all-dogs-button {
	width: 46%;
	border: 1px solid $forestColorFive;
	border-radius: 30px;
	text-align: center;
	font-size: 1.5rem;
}

.group-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
}

.group-item {
	background-color: $forestColorOne;
	margin: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	&:hover {
		background-color: $forestColorFour;
		transform: scale(1.15);
	}
}

.group-button {
	border: none;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	color: $forestColorFour;
	text-decoration: underline;
	background-color: $forestColorTwo;
	width: 14rem;
	height: 10rem;
	&:hover {
		background-color: $forestColorFour;
		color: $forestColorTwo;
	}
}
