@import "../../global.scss";

.heading {
	// background-image: url("../../images/dogbanner3.jpg");
	// background-repeat: no-repeat;
	background-color: $forestColorTwo;
	height: 8rem;
	width: 100%;

	@include mobile {
		height: 4rem;
	}
}

.heading-title {
	font-family: 'Merienda', cursive;
	text-align: center;
	font-size: 5rem;
	text-shadow: 2px 2px 4px $forestColorFive;
	color: $forestColorFour;

	@include mobile {
		font-size: 3rem;
	}
}
