@import "../../global.scss";

.breed-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
}

.breed-item {
	background-color: $forestColorOne;
	margin: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	&:hover {
		background-color: $forestColorFour;
		transform: scale(1.15);
	}
}

.breed-button {
	border: none;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	color: $forestColorFour;
	background-color: $forestColorTwo;
	width: 14rem;
	height: 10rem;
	&:hover {
		background-color: $forestColorFour;
		color: $forestColorTwo;
	}
}


