@import "../../global.scss";

.group-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.group-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46%;
	margin-top: 1rem;
	margin-left: 2%;
	margin-right: 2%;
}



.back-button {
	border: none;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	color: $forestColorFive;
	text-decoration: underline;
	background-color: $forestColorOne;
	width: 14rem;
	height: 10rem;
	&:hover {
		background-color: $forestColorFour;
	}
}