
// color schema
$mainColor: #173C42; 
$mainColorTwo:#FBF8E3;
$mainColorThree:#C7BE40;
$mainColorFour:#DFDFD4;
$mainColorFive:#81BE1C;

$forestColorOne: #29A173;
$forestColorTwo: #174634;
$forestColorThree: #F1B24A;
$forestColorFour: #CFE8DC;
$forestColorFive: #06100C;

// fonts
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Courgette', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Merienda', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Puppies Play', cursive;
// font-family: 'Satisfy', cursive;

$width: 768px;

$margin: 0;
$overflow-x: hidden;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


