
// color schema
$mainColor: #A5D74D; 
$mainColorTwo:#846954;
$mainColorThree:#543B23;
$mainColorFour:#DFDFD4;
$mainColorFive:#81BE1C;

// fonts
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Roboto', sans-serif;


$width: 768px;

$margin: 0;
$overflow-x: hidden;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


